<!-- Foooter
================== -->
  <footer>
  <div class="container">
    <div class="row">
      <!-- Contact Us 
    =================  -->
      <div class="col-sm-4">
      <div class="headline"><h3>Наши контакты</h3></div>
      <div class="content">
      <p>
      Нижний Новгород<br />
      603000, ул. Усилова, 1а<br />
      Телефон: +7 (831) 422-06-33<br />
      Факс: +7 (831) 419-70-31<br />
      Email: <a href="#">info@nnte.ru</a>
      </p>
      </div>
    </div>
    <!-- Social icons 
    ===================== -->
      <div class="col-sm-4">
      <div class="headline"><h3>Социальные сети</h3></div>
      <div class="content social">
      <p>Присоединяйтесь к нам:</p>
      <ul>
        <li><a href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li><a href="#"><i class="fa fa-facebook"></i></a>
        </li>
        <li><a href="#"><i class="fa fa-pinterest"></i></a>
        </li>
        <li><a href="#"><i class="fa fa-youtube"></i></a>
        </li>
        <li><a href="#"><i class="fa fa-github"></i></a>
        </li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a>
        </li>
        <li><a href="#"><i class="fa fa-vk"></i></a>
        </li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>


<br>
<!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ru/stat/?id=27276143&amp;from=informer"
target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/27276143/3_0_5E9AACFF_3E7A8CFF_0_pageviews"
style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:27276143,lang:'ru'});return false}catch(e){}"/></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter27276143 = new Ya.Metrika({id:27276143,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/27276143" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


      </div>
    </div>
    <!-- Subscribe 
    =============== -->
      <div class="col-sm-4">
      <div class="headline"><h3>Подпишитесь</h3></div>
      <div class="content">
        <p>Введите свой email для того, чтобы подписаться на новости нашей компании.<br /></p>
      <form class="form" role="form">
        <div class="row">
          <div class="col-sm-8">
          <div class="input-group">
          <label class="sr-only" for="subscribe-email">Email</label>
          <input type="email" class="form-control" id="subscribe-email" placeholder="Введите email">
          <span class="input-group-btn">
            <button type="submit" class="hl-btn hl-btn-default">OK</button>
          </span>
          </div>
          </div>
        </div>
      </form>
      </div>
    </div>
    </div>
  </div>
  </footer>
  <!-- Legal 
  ============= -->
  <div class="legal">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
      <p><a href="http://infotechcom.ru" target="blank">&copy; ООО "Инфоком-НН" 2014.</a> | <a href="#">Все права защищены</a></p>
    </div>
    </div>
  </div>
  </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/scrolltopcontrol.js"></script><!-- Scroll to top javascript -->