<!-- Foooter
================== -->
  <footer>
  <div class="container">
    <div class="row">
      <!-- Contact Us 
    =================  -->
      <div class="col-sm-4">
      <div class="headline"><h3>Наши контакты</h3></div>
      <div class="content">
      <p>
      Нижний Новгород<br />
      603000, ул. Усилова, 1а<br />
      Телефон: +7 (831) 424-06-33<br />
      Факс: +7 (831) 419-70-31<br />
      Email: <a href="#">info@nnte.ru</a>
      </p>
      </div>
    </div>
    <!-- Social icons 
    ===================== -->
      <div class="col-sm-4">
      <div class="headline"><h3>Социальные сети</h3></div>
      <div class="content social">
      <p>Присоединяйтесь к нам:</p>
      <ul>
        <li><a href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li><a href="#"><i class="fa fa-facebook"></i></a>
        </li>
        <li><a href="#"><i class="fa fa-pinterest"></i></a>
        </li>
        <li><a href="#"><i class="fa fa-youtube"></i></a>
        </li>
        <li><a href="#"><i class="fa fa-github"></i></a>
        </li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a>
        </li>
        <li><a href="#"><i class="fa fa-vk"></i></a>
        </li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
      </div>
    </div>
    <!-- Subscribe 
    =============== -->
      <div class="col-sm-4">
      <div class="headline"><h3>Подпишитесь</h3></div>
      <div class="content">
        <p>Введите свой email для того, чтобы подписаться на новости нашей компании.<br />Обещаем, что наша рассылка не превралится в непрерывный спам!</p>
      <form class="form" role="form">
        <div class="row">
          <div class="col-sm-8">
          <div class="input-group">
          <label class="sr-only" for="subscribe-email">Email</label>
          <input type="email" class="form-control" id="subscribe-email" placeholder="Введите email">
          <span class="input-group-btn">
            <button type="submit" class="hl-btn hl-btn-default">OK</button>
          </span>
          </div>
          </div>
        </div>
      </form>
      </div>
    </div>
    </div>
  </div>
  </footer>
  <!-- Legal 
  ============= -->
  <div class="legal">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
      <p><a href="http://infotechcom.ru" target="blank">&copy; ООО "Инфоком-НН" 2014.</a> | <a href="#">Все права защищены</a></p>
    </div>
    </div>
  </div>
  </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
  <script src="js/scrolltopcontrol.js"></script><!-- Scroll to top javascript -->