  <div class="wrapper">
    <div class="section-header">
	  <div class="container">
	    <div class="row">
	      <div class="col-sm-12">
		    <!-- Remove the .animated class if you don't want things to move -->
			<h1 class="animated slideInLeft"><span>О компании</span></h1>
		  </div>
		</div>
	  </div>
    </div>
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
		  <h1 class="hl text-center top-zero">Юридическая компания "Адекваты"</h1>
		  <p class="lead text-center">
			Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. 
		  </p>
		  <br />
		</div>
	  </div>
	  <div class="row">
		<div class="col-md-4">
		  <div class="about-icon"><i class="fa fa-briefcase"></i></div>
		  <h4><a href="#">Ключевая услуга</a></h4>
		  <p class="about-p">
		    Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. 
		  </p>
		  <div class="clearfix"></div>
		</div>
		<div class="col-md-4">
		  <div class="about-icon"><i class="fa fa-archive"></i></div>
		  <h4><a href="#">Ключевая услуга</a></h4>
		  <p class="about-p">
		    Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. 
		  </p>
		  <div class="clearfix"></div>
		</div>
		<div class="col-md-4">
		  <div class="about-icon"><i class="fa fa-tasks"></i></div>
		  <h4><a href="#">Ключевая услуга</a></h4>
		  <p class="about-p">
		    Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. Пример теста. 
		  </p>
		  <div class="clearfix"></div>
		</div>
	  </div>
	  <div class="row">
	    <div class="col-md-12">
		  <div class="about-btn">
		    <a class="btn btn-default" href="contact.html">Контакты</a>
		  </div>
		</div>
	  </div>
	</div>
  </div>