  <div class="wrapper">
    <div class="section-header">
	  <div class="container">
	    <div class="row">
	      <div class="col-sm-12">
		    <!-- Remove the .animated class if you don't want things to move -->
			<h1 class="animated slideInLeft"><span>О компании</span></h1>
		  </div>
		</div>
	  </div>
    </div>
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
		  <h1 class="hl text-center top-zero">ООО "Нижновтеплоэнерго"</h1>
		  <p class="lead text-center">
			<p>Компания  ООО «Нижновтеплоэнерго» основана в 2006 г. Молодая динамично развивающаяся теплоснабжающая компания.</p>
<p>Основной сферой деятельности общества с ограниченной ответственностью «Нижновтеплоэнерго» являются производство и передача тепловой энергии. </p>
<p>Потребителями тепловой энергии от источников теплоснабжения ООО «Нижновтеплоэнерго» являются более 560 жилых, социальных, административных объектов, а также объектов малого и среднего бизнеса, расположенных на территории Нижегородского района города Нижнего Новгорода.</p>
      <p>Высокая квалификация специалистов, отличное качество выполнения работ, гибкий подход к вопросам теплоснабжения - главные составляющие деятельности компании ООО «Нижновтеплоэнерго».</p>
<ul><strong>Основными целями и задачами ООО «Нижновтеплоэнерго» являются:</strong>
<li>надежное и качественное обеспечение потребителей тепловой энергией; </li>
<li>рациональное использование энергоресурсов за счет применения современного энергосберегающего оборудования, материалов и технологий; </li>
<li>увеличение мощности теплогенерирующих источников для обеспечения возможности подключения к сетям теплоснабжения вводимых объектов капитального строительства.</li>
</ul>
 
		  </p>
		  <br />
		</div>
	  </div>
	  <div class="row">
	    <div class="col-md-12">
		  <div class="about-btn">
		    <a class="btn btn-default" href="contact.html">Контакты</a>
		  </div>
		</div>
	  </div>
	</div>
  </div>