  <div class="wrapper">
    <div class="section-header">
	  <div class="container">
	    <div class="row">
	      <div class="col-sm-12">
		    <!-- Remove the .animated class if you don't want things to move -->
			<h1 class="animated slideInLeft"><span>Блог</span></h1>
		  </div>
		</div>
	  </div>
    </div>
	<div class="container">
	  <div class="row">
	    <div class="col-sm-8">
		  <div class="timeline-block">
		  <!-- First blog post -->
		    <div class="blog-summary">
			  <h4 class="new-story"><a href="blog-post.html">Заголовок первой статьи</a></h4>
			  <time datetime="2013-11-10" class="timestamp hidden-xs">Фев 4, 2014</time>
			  <ul class="text-muted list-inline">
				<li><i class="fa fa-user"></i> <a href="profile.html">Иванов Иван</a></li>
				<li><i class="fa fa-calendar"></i> Февраль 4, 2014</li>
				<li><i class="fa fa-comments-o"></i> 21 комментарий</li>
			  </ul>
			  <hr>
			  <p class="blog-summary-text">
				<img class="pull-right img-responsive blog-img" alt="Blog Image" src="/images/works1.jpg">
				Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. 
			  </p>
		    </div>
		    <!-- Second blog post -->
		    <div class="blog-summary">
			  <h4 class="new-story"><a href="blog-post.html">Заголовок первой статьи</a></h4>
			  <time datetime="2013-11-10" class="timestamp hidden-xs">Фев 4, 2014</time>
			  <ul class="text-muted list-inline">
				<li><i class="fa fa-user"></i> <a href="profile.html">Иванов Иван</a></li>
				<li><i class="fa fa-calendar"></i> Февраль 4, 2014</li>
				<li><i class="fa fa-comments-o"></i> 21 комментарий</li>
			  </ul>
			  <hr>
			  <p class="blog-summary-text">
				<img class="pull-left img-responsive blog-img" alt="Blog Image" src="/images/works2.jpg">
				Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. 
			  </p>
		    </div>
		    <!-- Third blog post -->
		    <div class="blog-summary">
			  <h4 class="new-story"><a href="blog-post.html">Заголовок первой статьи</a></h4>
			  <time datetime="2013-11-10" class="timestamp hidden-xs">Фев 4, 2014</time>
			  <ul class="text-muted list-inline">
				<li><i class="fa fa-user"></i> <a href="profile.html">Иванов Иван</a></li>
				<li><i class="fa fa-calendar"></i> Февраль 4, 2014</li>
				<li><i class="fa fa-comments-o"></i> 21 комментарий</li>
			  </ul>
			  <hr>
			  <p class="blog-summary-text">
				<img class="pull-right img-responsive blog-img" alt="Blog Image" src="/images/works3.jpg">
				Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. Здесь несколько предложений из текста статьи. 
			  </p>
		    </div>
		  </div>
		  <!-- Pagination -->
		  <ul class="pagination pull-right">
			<li class="disabled"><a href="#">&laquo;</a></li>
			<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">&raquo;</a></li>
		  </ul>
		</div>
		<div class="col-sm-4">
		  <!-- Social Links -->
		  <h3 class="hl">Подписка на новости</h3>
		  <hr>
		  <div class="social-icons social-icons-default">
			<ul>
				<li class="rss"><a href="#"><i class="fa fa-rss"></i></a></li>
				<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
				<li class="github"><a href="#"><i class="fa fa-github"></i></a></li>
				<li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
				<li class="vk"><a href="#"><i class="fa fa-vk"></i></a></li>
				<li class="plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
				<li class="dropbox"><a href="#"><i class="fa fa-dropbox"></i></a></li>
				<li class="vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		  </div>
		  
		  <!-- Recently Added -->
		  <div class="panel panel-default">
			<div class="panel-heading">
			  <h3 class="panel-title">Последние новости</h3>
			</div>
			<div class="panel-body">
			  <div class="recent-blogs">
			    <ul>
				  <li><a href="blog-post.html" class="new-story">Первый заголовок</a></li>
				  <li><a href="blog-post.html" class="new-story">Второй заголовок</a></li>
				  <li><a href="blog-post.html">Третий заголовок</a></li>
				  <li><a href="blog-post.html">Четвёртый заголовок</a></li>
				  <li><a href="blog-post.html">Пятый заголовок</a></li>
				</ul>
			  </div>
			</div>
		  </div>

		  
		  <!-- Archive -->
		  <div class="panel panel-default">
			<div class="panel-heading">
			  <h3 class="panel-title">Архив</h3>
			</div>
			<div class="panel-body">
			  <div class="row">
			    <div class="col-xs-12">
			      <!-- Years -->
				  <ul class="nav nav-pills nav-stacked">
					<li class="active"><a href="#2013" data-toggle="tab">2014</a></li>
				  </ul>
				</div>
			  </div>
			  <div class="row">
				<div class="col-xs-12">
				  <!-- Months -->
				  <div class="tab-content blog-months">
					<div class="tab-pane active" id="2014">
					  <ul class="nav nav-pills nav-stacked pull-left">
						<li><a href="#">Янв <span class="badge">15</span></a></li>
						<li><a href="#">Фев <span class="badge">23</span></a></li>
						<li><a href="#">Мар <span class="badge">45</span></a></li>
						<li><a href="#">Апр <span class="badge">12</span></a></li>
						<li><a href="#">Май <span class="badge">10</span></a></li>
						<li><a href="#">Июн <span class="badge">9</span></a></li>
					  </ul>
					  <ul class="nav nav-pills nav-stacked pull-left">
						<li><a href="#">Июл <span class="badge">14</span></a></li>
						<li><a href="#">Авг <span class="badge">19</span></a></li>
						<li><a href="#">Сен <span class="badge">32</span></a></li>
						<li><a href="#">Окт <span class="badge">23</span></a></li>
						<li><a href="#">Ноя <span class="badge">8</span></a></li>
						<li><a href="#">Дек <span class="badge">9</span></a></li>
					  </ul>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>