  <div class="wrapper">	
  <!-- Showcase
	================ -->
    <div id="wrap">
	  <div class="container">
		<div class="row">
		  <div class="col-md-6 col-sm-12">
		    <h1 class="animated slideInDown">Юридическая компания "Адекваты"</h1>
		    <div class="list">
			  <ul>
			    <li class="animated slideInLeft first"><span class="li-bg"><i class="fa fa fa-code"></i> <span>Услуги юриста.</span></span></li>
			    <li class="animated slideInLeft second"><span class="li-bg"><i class="fa fa-cogs"></i> <span>Медленно и дорого.</span></span></li>
				<li class="animated slideInLeft third"><span class="li-bg"><i class="fa fa-tablet"></i> <span>Отсутствие результата!</span></span></li>
			  </ul>
			</div>
		  </div>
		  <div class="col-md-6 hidden-sm hidden-xs">
		    <div class="showcase">
			  <div class="iMac animated fadeInDown"></div>
			  <div class="iPad animated fadeInLeft"></div>
			  <div class="iPhone animated fadeInRight"></div>
			</div>
		  </div>
		</div>
	  </div>
    </div>
	<div class="container">
	  <!-- Services
		================ -->
	  <div class="row">
	    <div class="col-md-12">
		  <div class="services">
			<ul>
				<li>
				  <i class="fa fa-briefcase fa-3x"></i>
				  <p>Мы умеем делать что-то<br /><a href="#">Подробнее...</a></p>
				</li>
				<li>
				  <i class="fa fa-cloud-upload fa-3x"></i>
				  <p>Мы умеем делать что-то<br /><a href="#">Подробнее...</a></p>
				</li>
				<li>
				  <i class="fa fa-laptop fa-3x"></i>
				  <p>Мы умеем делать что-то<br /><a href="#">Подробнее...</a></p>
				</li>
				<li>
				  <i class="fa fa-gears fa-3x"></i>
				  <p>Мы умеем делать что-то<br /><a href="#">Подробнее...</a></p>
				</li>
				<li>
				  <i class="fa fa-compass fa-3x"></i>
				  <p>Мы умеем делать что-то<br /><a href="#">Подробнее...</a></p>
				</li>
			</ul>
			<div class="clearfix"></div>
		  </div>
		</div>
	  </div>
	  <div class="row">
	    <!-- Welcome message
			================= -->
	    <div class="col-md-8">
	    <div class="block-header">
		  <h2>
		    <span class="title">Добро пожаловать</span><span class="decoration"></span><span class="decoration"></span><span class="decoration"></span>
		  </h2>
		</div>
		  <img src="/images/about.jpg" class="img-about img-responsive" alt="About">
		  <p>
		    Рады приветствовать Вас на сайте нашей компании. Всегда низкие цены и что-то там ещё. Текст здесь расположен для примера расположения текста. Его даже читать не обязательно. Рады приветствовать Вас на сайте нашей компании. Всегда низкие цены и что-то там ещё. Текст здесь расположен для примера расположения текста. Его даже читать не обязательно. 
			<br /><br />
			Рады приветствовать Вас на сайте нашей компании. Всегда низкие цены и что-то там ещё. Текст здесь расположен для примера расположения текста. Его даже читать не обязательно.
		  </p>
		  <div class="info-board info-board-blue">
			<h4>Важная информация</h4>
			<p>Рады приветствовать Вас на сайте нашей компании. Всегда низкие цены и что-то там ещё. Текст здесь расположен для примера расположения текста. Его даже читать не обязательно. </p>
		  </div>
		</div>
		<!-- Last updated
			================== -->
		<div class="col-md-4">
	    <div class="block-header">
		  <h2>
		    <span class="title">Последние новости</span><span class="decoration"></span><span class="decoration"></span><span class="decoration"></span>
		  </h2>
		</div>
		<div class="tab-content">
		  <div class="tab-pane active" id="blog">
			<div class="media">
			  <a class="pull-left" href="#">
				<img class="media-object" src="/images/blog-1.jpg" alt="Blog Message">
			  </a>
			  <div class="media-body">
				<h4 class="media-heading"><a href="#">Заголовок новости</a></h4>
				Здесь находятся первые 300 символов из текста новости. Новости и полный текст расположен в разделе "Блог" этого сайта...
			  </div>
			</div>
			<div class="media">
			  <a class="pull-left" href="#">
				<img class="media-object" src="/images/blog-2.jpg" alt="Blog Message">
			  </a>
			  <div class="media-body">
				<h4 class="media-heading"><a href="#">Заголовок новости</a></h4>
				Здесь находятся первые 300 символов из текста новости. Новости и полный текст расположен в разделе "Блог" этого сайта...
			  </div>
			</div>
			<div class="media">
			  <a class="pull-left" href="#">
				<img class="media-object" src="/images/blog-3.jpg" alt="Blog Message">
			  </a>
			  <div class="media-body">
				<h4 class="media-heading"><a href="#">Заголовок новости</a></h4>
				Здесь находятся первые 300 символов из текста новости. Новости и полный текст расположен в разделе "Блог" этого сайта...
			  </div>
			</div>
			<a href="#" class="read-more">Читать все новости...</a>
		  </div>
		</div>
		</div>
	  </div>
	  <!-- Recent Works
		=================== -->
	  <div class="row">
	    <div class="col-md-12 block-header">
		  <h2>
		    <span class="title">Наши услуги</span><span class="decoration"></span><span class="decoration"></span><span class="decoration"></span>
		  </h2>
		</div>
	  </div>
	  <div class="row">
	    <div class="col-md-3 col-sm-6">
		  <div class="thumbnail">
			<img src="/images/works1.jpg" class="img-responsive" alt="...">
			<div class="visit"><a href="#"><i class="fa fa-question-circle"></i> Подробнее...</a></div>
			<div class="caption">
			  <h4>Услуга №1</h4>
				<div class="rating">
				  <i class="fa fa-star"></i> 
				  <i class="fa fa-star"></i> 
				  <i class="fa fa-star"></i> 
				  <i class="fa fa-star"></i> 
				  <i class="fa fa-star"></i>
				</div>
			  <p>Я умею разрисовывать заборы красной краской. Я молодец?</p>
			</div>
		  </div>
		</div>
	    <div class="col-md-3 col-sm-6">
		  <div class="thumbnail">
			<img src="/images/works2.jpg" class="img-responsive" alt="...">
			<div class="visit"><a href="#"><i class="fa fa-question-circle"></i> Подробнее...</a></div>
			<div class="caption">
			  <h4>Услуга №2</h4>
				<div class="rating">
				  <i class="fa fa-star"></i> 
				  <i class="fa fa-star"></i> 
				  <i class="fa fa-star"></i> 
				  <i class="fa fa-star"></i> 
				</div>
			  <p>А ещё я могу спать. А ещё могу не спать. Обращайтесь ко мне. Я хороший юрист.</p>
			</div>
		  </div>
		</div>
		<div class="clearfix visible-sm"></div>
	    <div class="col-md-3 col-sm-6">
		  <div class="thumbnail">
			<img src="/images/works3.jpg" class="img-responsive" alt="...">
			<div class="visit"><a href="#"><i class="fa fa-question-circle"></i> Подробнее...</a></div>
			<div class="caption">
			  <h4>Услуга №3</h4>
				<div class="rating">
				  <i class="fa fa-star"></i> 
				  <i class="fa fa-star"></i> 
				  <i class="fa fa-star"></i> 
				  <i class="fa fa-star"></i> 
				  <i class="fa fa-star-half"></i>
				</div>
			  <p>Помогу завязать узел. Потому, что я умею его завязывать.</p>
			</div>
		  </div>
		</div>
	    <div class="col-md-3 col-sm-6">
		  <div class="thumbnail">
			<img src="/images/works4.jpg" class="img-responsive" alt="...">
			<div class="visit"><a href="#"><i class="fa fa-question-circle"></i> More details...</a></div>
			<div class="caption">
			  <h4>Услуга №4</h4>
				<div class="rating">
				  <i class="fa fa-star"></i> 
				  <i class="fa fa-star"></i> 
				  <i class="fa fa-star"></i> 
				  <i class="fa fa-star"></i> 
				  <i class="fa fa-star"></i>
				</div>
			  <p>Я ловлю птиц. Я адекватный...</p>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>