  <div class="wrapper">
    <div class="section-header">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-12">
		    <!-- Remove the .animated class if you don't want things to move -->
			<h1 class="animated slideInLeft"><span>Pricing Page</span></h1>
		  </div>
		</div>
	  </div>
    </div>
	<div class="container">
	  <div class="row">
		<h1 class="hl text-center zero-top">Pricing Options</h1>
		<hr>
	  </div>
	  <div class="row pricing">
	    <div class="col-sm-3">
		  <!-- Remove .animated .fadeInDown .first classes if you don't want item to move -->
		  <div class="item animated fadeInDown first">
		    <div class="head">
		      <h4>Basic</h4>
			  <div class="arrow"></div>
			</div>
			<div class="sceleton">
			  <h5>$25<span>/month</span></h5>
			<ul>
			  <li>Lorem ipsum dolor sit amet</li>
			  <li>Lorem ipsum dolor sit amet</li>
			  <li>Lorem ipsum dolor sit amet</li>
			  <li>Lorem ipsum dolor sit amet</li>
			</ul>
			<a class="hl-btn hl-btn-default hl-btn-block" href="#">Subscribe</a>
			</div>
		  </div>
		</div>
	    <div class="col-sm-3">
		  <div class="item animated fadeInDown second">
		    <div class="head">
		      <h4>Pro</h4>
			  <div class="arrow"></div>
			</div>
			<div class="sceleton">
			  <h5>$35<span>/month</span></h5>
			<ul>
			  <li>Lorem ipsum dolor sit amet</li>
			  <li>Lorem ipsum dolor sit amet</li>
			  <li>Lorem ipsum dolor sit amet</li>
			  <li>Lorem ipsum dolor sit amet</li>
			</ul>
			<a class="hl-btn hl-btn-default hl-btn-block" href="#">Subscribe</a>
			</div>
		  </div>
		</div>
	    <div class="col-sm-3">
		  <div class="item animated fadeInDown third">
		    <div class="head">
		      <h4>Business</h4>
			  <div class="arrow"></div>
			</div>
			<div class="sceleton">
			  <h5>$45<span>/month</span></h5>
			<ul>
			  <li>Lorem ipsum dolor sit amet</li>
			  <li>Lorem ipsum dolor sit amet</li>
			  <li>Lorem ipsum dolor sit amet</li>
			  <li>Lorem ipsum dolor sit amet</li>
			</ul>
			<a class="hl-btn hl-btn-default hl-btn-block" href="#">Subscribe</a>
			</div>
		  </div>
		</div>
	    <div class="col-sm-3">
		  <div class="item animated fadeInDown fourth">
		    <div class="head">
		      <h4>Exclusive</h4>
			  <div class="arrow"></div>
			</div>
			<div class="sceleton">
			  <h5>$55<span>/month</span></h5>
			<ul>
			  <li>Lorem ipsum dolor sit amet</li>
			  <li>Lorem ipsum dolor sit amet</li>
			  <li>Lorem ipsum dolor sit amet</li>
			  <li>Lorem ipsum dolor sit amet</li>
			</ul>
			<a class="hl-btn hl-btn-default hl-btn-block" href="#">Subscribe</a>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>