  <div class="wrapper">
    <div class="section-header">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-12">
		    <!-- Remove the .animated class if you don't want things to move -->
			<h1 class="animated slideInLeft"><span>Услуги</span></h1>
		  </div>
		</div>
	  </div>
    </div>
	<div class="container">
	  <div class="row">
		<h1 class="hl text-center zero-top">Список усгул</h1>
		<hr>
	  </div>
	  <div class="row pricing">
	    <div class="col-sm-3">
		  <!-- Remove .animated .fadeInDown .first classes if you don't want item to move -->
		  <div class="item animated fadeInDown first">
		    <div class="head">
		      <h4>Что-то</h4>
			  <div class="arrow"></div>
			</div>
			<div class="sceleton">
			  <h5>25 руб.<span>/месяц</span></h5>
			<ul>
			  <li>Описание 1</li>
			  <li>Описание 1</li>
			  <li>Описание 1</li>
			  <li>Описание 1</li>
			</ul>
			<a class="hl-btn hl-btn-default hl-btn-block" href="#">Подробнее</a>
			</div>
		  </div>
		</div>
	    <div class="col-sm-3">
		  <!-- Remove .animated .fadeInDown .first classes if you don't want item to move -->
		  <div class="item animated fadeInDown first">
		    <div class="head">
		      <h4>Что-то</h4>
			  <div class="arrow"></div>
			</div>
			<div class="sceleton">
			  <h5>25 руб.<span>/месяц</span></h5>
			<ul>
			  <li>Описание 1</li>
			  <li>Описание 1</li>
			  <li>Описание 1</li>
			  <li>Описание 1</li>
			</ul>
			<a class="hl-btn hl-btn-default hl-btn-block" href="#">Подробнее</a>
			</div>
		  </div>
		</div>
	    <div class="col-sm-3">
		  <!-- Remove .animated .fadeInDown .first classes if you don't want item to move -->
		  <div class="item animated fadeInDown first">
		    <div class="head">
		      <h4>Что-то</h4>
			  <div class="arrow"></div>
			</div>
			<div class="sceleton">
			  <h5>25 руб.<span>/месяц</span></h5>
			<ul>
			  <li>Описание 1</li>
			  <li>Описание 1</li>
			  <li>Описание 1</li>
			  <li>Описание 1</li>
			</ul>
			<a class="hl-btn hl-btn-default hl-btn-block" href="#">Подробнее</a>
			</div>
		  </div>
		</div>
	    <div class="col-sm-3">
		  <!-- Remove .animated .fadeInDown .first classes if you don't want item to move -->
		  <div class="item animated fadeInDown first">
		    <div class="head">
		      <h4>Что-то</h4>
			  <div class="arrow"></div>
			</div>
			<div class="sceleton">
			  <h5>25 руб.<span>/месяц</span></h5>
			<ul>
			  <li>Описание 1</li>
			  <li>Описание 1</li>
			  <li>Описание 1</li>
			  <li>Описание 1</li>
			</ul>
			<a class="hl-btn hl-btn-default hl-btn-block" href="#">Подробнее</a>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>