<!-- Profile Menu -->
        <div class="col-sm-4 col-md-3">
          <div class="user-menu bottom-15">
            <ul>
              <li>
                <a href="/users/profile" class="active">
                  <i class="sign fa fa-user bg-green"></i> Мой аккаунт <i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>

              <li>
                <a href="/users/sign_out">
                  <i class="sign fa fa-sign-out bg-amethyst"></i> Выход <i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>
            </ul>
          </div>

<!-- Apeals_manager Menu -->
<% if current_user.role == "apeals_manager" || current_user.role == "admin" || current_user.role == "director" %>
<br>
<h4>Жалобы</h4>

          <div class="user-menu bottom-15">
            <ul>
              <li>
                <%= link_to "<i class='sign fa fa-file bg-blue'></i> Открытые жалобы <i class='fa fa-chevron-right pull-right'></i>".html_safe, apeals_path, :class => "active" %>
              </li>
              <li>
                <%= link_to "<i class='sign fa fa-file bg-green'></i> Архив жалоб <i class='fa fa-chevron-right pull-right'></i>".html_safe, old_apeals_path, :class => "active" %>
              </li>
              
              <li>
                <a href="/apeals/new">
                  <i class="sign fa fa-pencil bg-red"></i> Новая жалоба <i class="fa fa-chevron-right pull-right"></i>
                </a>  
              </li>
            </ul>
          </div>
<% end %>



<% if current_user.role == "apeals_manager" || current_user.role == "admin" || current_user.role == "director" %>
<br>
<h4>Приборы учёта</h4>

          <div class="user-menu bottom-15">
            <ul>
              <li>
                <%= link_to "<i class='sign fa fa-file bg-blue'></i> Жилые дома <i class='fa fa-chevron-right pull-right'></i>".html_safe, equip_houses_path, :class => "active" %>
              </li>
            </ul>
          </div>

<br>
<h4>Сайт</h4>

          <div class="user-menu bottom-15">
            <ul>
              <li>
                <%= link_to "<i class='sign fa fa-file bg-blue'></i> Добавить новость <i class='fa fa-chevron-right pull-right'></i>".html_safe, new_article_path, :class => "active" %>
              </li>
            </ul>
          </div>
<% end %>


        </div>



