// Place all the styles related to the EquipHouses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #72C02C;
$red: #960018;
$blue: #0015ff;
$yellow: #AC8100;

.green {
	color: $green;
}

.yellow {
	color: $yellow;
}

.red {
	color: $red;
}
.blue {
	color: $blue;
}